.event-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .event-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .event-info {
    width: 100%;
  }
  
  .event-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .event-detail label {
    font-weight: bold;
    color: #333;
  }
  
  .event-detail span {
    color: #666;
  }

  /* Style for the "Book Now" button */
.book-now-button {
  background-color: blueviolet; /* Bright, eye-catching color */
  color: white; /* White text color for contrast */
  border: none; /* Remove default border */
  border-radius: 25px; /* Rounded corners */
  padding: 10px 20px; /* Padding for a larger clickable area */
  font-size: 16px; /* Larger font size */
  font-weight: bold; /* Bold text */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.book-now-button:hover {
  background-color: #e64a19; /* Darker color on hover */
}

.book-now-button:active {
  background-color: #d84315; /* Even darker color on click */
}

.book-now-button:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 0 3px rgba(255, 87, 34, 0.5); /* Custom focus outline */
}

/* event-dialog.component.css */
.warning-message {
  color: red;
  font-weight: bold;
}
  