<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" height="50" alt="Holmes Place">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="#">BLOG</a></li>
        <li class="nav-item"><a class="nav-link" href="#">MY BENE-FIT</a></li>
        <li class="nav-item"><a class="nav-link" href="#">BECOME A PARTNER</a></li>
        <li class="nav-item"><a class="nav-link" href="#">CAREERS</a></li>
        <li class="nav-item"><a class="nav-link" href="#">PRIVACY CENTER</a></li>
        <li class="nav-item"><a class="nav-link" href="#">ANAZHTHΣH</a></li>
        <li class="nav-item"><a class="nav-link" href="#">GR</a></li>
      </ul>
    </div>
  </nav>