<div id="content-section" class="content-section">
    <div class="row mb-4">
      <div class="col-md-6">
        <img src="../../../assets/image4.jpg" class="img-fluid" alt="Placeholder Image">
      </div>
      <div class="col-md-6">
        <h3>Welcome to Our Fitness Club</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id dui posuere blandit. Sed porttitor lectus nibh. Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id dui posuere blandit. Sed porttitor lectus nibh.</p>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Nulla porttitor accumsan tincidunt. Donec rutrum congue leo eget malesuada. Nulla porttitor accumsan tincidunt. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p>
        <p>Donec sollicitudin molestie malesuada. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Donec sollicitudin molestie malesuada. Sed porttitor lectus nibh. Proin eget tortor risus.</p>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-6">
        <h3>Join Our Group Classes</h3>
        <p>Proin eget tortor risus. Nulla quis lorem ut libero malesuada feugiat. Donec sollicitudin molestie malesuada. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Proin eget tortor risus. Nulla quis lorem ut libero malesuada feugiat. Donec sollicitudin molestie malesuada. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
        <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
        <p>Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat. Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus. Donec sollicitudin molestie malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam numquam mollitia, hic eligendi quas adipisci voluptatibus quia eos quidem incidunt vel, voluptas doloremque fuga qui id, voluptatum similique illo nemo.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo ad error corporis expedita? Odit temporibus cum asperiores. Ab molestiae maxime alias dolorem quasi pariatur nulla laboriosam, magni ea! Maiores, odit?</p>
        <h1>Our Courses</h1>
      </div>
      <div class="col-md-6">
        <img src="../../../assets/image5.jpg" class="img-fluid" alt="Placeholder Image">
      </div>
    </div>
</div>