<div class="container mt-4">
  <h1>Angular Calendar</h1>
  <div class="row mb-3">
    <div class="col-12 text-center">
      <button class="btn btn-primary" (click)="setView(CalendarView.Month)">Month View</button>
      <button class="btn btn-primary" (click)="setView(CalendarView.Week)">Week View</button>
    
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mwl-calendar-month-view
        *ngIf="view === CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events"
      ></mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngIf="view === CalendarView.Week"
        [viewDate]="viewDate"
        [events]="events"
        [dayStartHour]="10"
        [dayEndHour]="24"
        [hourSegments]="1"
        [hourSegmentHeight]="60"
      ></mwl-calendar-week-view>
  
    </div>
  </div>
</div>
