
h1 {
  color: #6a1b9a; /* Purple for the heading */
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
}

.table-hover tbody tr:hover {
  background-color: #f0f0f0;
}

.no-border {
  border: none;
}

.no-border th,
.no-border td {
  border: none;
}

.time-slot-row {
  height: 150px; /* Adjust the height for more spacious rows */
}

.session-cell {
  vertical-align: top;
  padding: 10px;
  min-width: 150px;
}

.session {
  background-color: #f8f4e6;
  padding: 15px; /* Increase padding for better spacing */
  border-radius: 12px; /* More rounded corners */
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}
.session-booked {
  background-color: #ffcc80; /* Light orange */
  border: 1px solid #ffb74d;
}

.session-not-booked {
  background-color: #f8f4e6; /* Light beige */
  border: 1px solid #e0e0e0;
}

.session:hover {
  background-color: #6a1b9a; /* Purple */
  color: white; /* Ensure the text remains readable */
}

a.text-decoration-none {
  color: #6a1b9a; /* Purple for the links */
}

a.text-decoration-none:hover {
  text-decoration: underline;
}

.table thead th {
  background-color: #fafafa; /* Light gray for the table header */
  color: #333;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.table tbody tr {
  border-bottom: 1px solid #ddd;
}

.table {
  width: 100%;
  margin-bottom: 20px;
  color: #333;
}

.day-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #6a1b9a; /* Purple for day name */
}

.date {
  font-size: 0.9rem;
  color: #555;
}

.time-label {
  color: #555;
  text-align: center;
  vertical-align: middle;
  font-size: 1.1rem;
}

.calendar-container {
  padding-left: 20px;
}
