<div id="gymCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-indicators">
    <button 
      *ngFor="let slide of slides; let i = index"
      type="button" 
      data-bs-target="#gymCarousel" 
      [attr.data-bs-slide-to]="i" 
      [class.active]="i === currentSlideIndex" 
      [attr.aria-current]="i === currentSlideIndex ? 'true' : null" 
      [attr.aria-label]="'Slide ' + (i + 1)">
    </button>
  </div>
  <div class="carousel-inner">
    <div 
      *ngFor="let slide of slides; let i = index" 
      class="carousel-item" 
      [class.active]="i === currentSlideIndex"> 
      <img [src]="slide.src" class="d-block w-100" [alt]="'Image ' + (i + 1)">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ slide.captionTitle }}</h5>
        <h2>{{ slide.captionHeading }}</h2>
        <p>{{ slide.captionText }}</p>
        <a href="#" class="btn btn-warning">{{ slide.buttonText }}</a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" (click)="prevSlide()">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" (click)="nextSlide()">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>