<!-- slideshow.component.html -->
<div class="overlay"></div>
<div id="gymCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/image1.jpg" class="d-block w-100" alt="Image 1">
    </div>
    <div class="carousel-item">
      <img src="assets/image2.jpg" class="d-block w-100" alt="Image 2">
    </div>
    <div class="carousel-item">
      <img src="assets/image3.jpg" class="d-block w-100" alt="Image 3">
    </div>
  </div>
</div>
