html, body {
    height: 100%;
    margin: 0;
  }
  
  #main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .black-menu {
    background-color: black;
    color: white;
    height: 12vh;
  }
  
  .black-menu .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure it takes up the full height of the parent */
  }
  
  .content-section {
    padding: 20px;
    background-color: #fff;
  }
  
 
  
  
  
