<div class="black-menu d-flex justify-content-around text-center py-3 w-100">
    <button class="menu-item btn btn-link" [routerLink]="['/welcome']" fragment="content-section">CLUBS</button>
    <button class="menu-item btn btn-link" [routerLink]="['/calendar']" fragment="content-section">GROUP CLASSES</button>
    <button class="menu-item btn btn-link" [routerLink]="['/calendar']" fragment="content-section">ΠΡΟΓΡΑΜΜΑ</button>
    <button class="menu-item btn btn-link" [routerLink]="['/login']" fragment="content-section">Log in</button>
  </div>


